<ActionBar android:title="Title">
  <ActionItem [text]="checkTitle" ios.position="left"></ActionItem>
</ActionBar>
<GridLayout rows="auto, 75" columns="260,150,150,200">
  <StackLayout row="0" col="0">
    <!-- order header -->
    <StackLayout style="background-color: antiquewhite;" orientation="horizontal">
      <FlexBoxLayout *ngIf='ticketNumber'>
        <Label text="Ticket #" style="text-align: left; width:75;"></Label> |
        <Label [text]="ticketNumber" style="text-align: left; margin-right: 5;width:75;"></Label> |
      </FlexBoxLayout>
      <FlexBoxLayout>
        <Label text="Check #" style="text-align: left; width:75;"></Label> |
        <Label [text]="checkNumber" style="text-align: left; margin-right: 5;width:75;"></Label> |
      </FlexBoxLayout>
    </StackLayout>
    <GridLayout style="background-color: antiquewhite;" columns='* * *' borderTopWidth='1' borderColor='gray'
      borderLeftWidth='0' borderRightWidth='0'>
      <Label [text]="table" style="text-align: left; width:30;" col='0' borderRightWidth='1' borderLeftWidth='0'
        borderLeftColor='antiquewhite' borderRightColor='gray'></Label>|
      <Label [text]="server" style="text-align: left; width:140;" col='1' borderRightWidth='1' borderLeftWidth='0'
        borderRightColor='gray'></Label>
      <StackLayout col='2' orientation="horizontal">
        <Label text="Guests: " style="text-align: left;"></Label>
        <Label [text]="guests"></Label>
      </StackLayout>
    </GridLayout>
    <!-- order items  -->
    <ScrollView style="background-color: white" height="550" orientation="vertical">
      <StackLayout>
        <StackLayout *ngFor="let item of orderItems">
          <FlexBoxLayout (tap)="showModifyDialog(item,null,null)" (swipe)="onOrderItemSwipe($event, item)" [class]="textColorClass">
            <Label [text]="item.Quantity" style="text-align: right; margin-right: 10;width:15;"></Label>
            <Label [text]="item.ProductName" style="text-align: left; width:150; margin-right: 5"></Label>
            <Label [text]="item.ExtPrice | currency" style="text-align: right; width:50; margin-right:5"></Label>
            <Label [text]="item.SeatNumber" style="text-align: right; width:15;color: chocolate"></Label>
          </FlexBoxLayout>
        </StackLayout>
      </StackLayout>
    </ScrollView>
    <!-- totals -->
    <StackLayout style="background-color: rgb(46, 44, 44);color: white">
      <StackLayout class="m-b-5" orientation="horizontal">
        <Label text="Subtotal" class="check-label"></Label>
        <Label [text]="subTotal | currency" class="check-amount"></Label>
      </StackLayout>
      <StackLayout class="m-b-5" orientation="horizontal">
        <Label text="Discount" class="check-label"></Label>
        <Label [text]="discount | currency" class="check-amount"></Label>
      </StackLayout>
      <StackLayout class="m-b-5" orientation="horizontal">
        <Label text="Tax" class="check-label"></Label>
        <Label [text]="tax | currency" class="check-amount"></Label>
      </StackLayout>
      <StackLayout class="m-b-5" orientation="horizontal" *ngIf='tips > 0'>
        <Label text="Gratuity" class="check-label"></Label>
        <Label [text]="tips | currency" class="check-amount"></Label>
      </StackLayout>
      <StackLayout class="m-b-0" orientation="horizontal">
        <Label text="Total" class="check-label"></Label>
        <Label [text]="checkTotal | currency" class="check-amount"></Label>
      </StackLayout>
    </StackLayout>
  </StackLayout>
  <!-- bottom navigation -->
  <GridLayout row="1" col="0" colSpan="4" style="margin-bottom:10">
    <Button class="glass btnBottom btnCancel fa" horizontalAlignment="left" text="&#xf0e2; Cancel" (tap)="cancel()"></Button>
    <Button class="glass btnBottom fa" (tap)="printReceipt()" horizontalAlignment='right' textWrap="true" text="&#xf05a; Print Receipt Save"></Button>
  </GridLayout>
  <!-- item functions -->
  <GridLayout rows='60 60 60 60 60 60 60 60 60 60 60 60' columns='80 200' row="0" col="1" *ngIf="showItemFunctions">
    <Label text="Item Functions" row='0' col='0' colSpan="2"></Label>
    <Button class="glass round" [text]="seat" textWrap="true" *ngFor="let seat of seats" col='0' [row]='seat + 1' (tap)="assignSeat(seat)"></Button>
    <StackLayout row='1' col='1' colSpan="10">
      <Button class="glass" text="$ Discount" textWrap="true" (tap)="dollarDiscount()"></Button>
      <Button class="glass" text="% Discount" textWrap="true" (tap)="dollarDiscount()"></Button>
      <Button class="glass" text="&#xf06b; Comp Item" textWrap="true" (tap)="dollarDiscount()"></Button>
      <Button class="glass btnCancel fa" text="&#xf2ed; Delete" textWrap="true" (tap)="deleteItem()"></Button>
    </StackLayout>
    <GridLayout row="11" col="0" colSpan="2">
      <Button class="glass" horizontalAlignment="left" text="Other" (tap)="otherSeat()"></Button>
      <Button class="glass fa" (tap)="cancelItemFunctions()" horizontalAlignment='right' text="&#xf0e2; Cancel"></Button>
    </GridLayout>
  </GridLayout>
  <!-- ticket functions -->
  <StackLayout row="0" col="1" colSpan="2" *ngIf="showTicketFunctions">
    <Button class="glass" [text]="item.Name" textWrap="true" *ngFor="let item of categories let i=index" (tap)="categorySelected(item)"
      [style]="categoryStyles[i]"></Button>
  </StackLayout>
  <!-- payment options -->
  <GridLayout row="0" col="3" colSpan="2" columns='200 200' rows='60 100 100 100 100'>
    <Label text="Ticket Functions" row='0' col='0' colSpan="2"></Label>
    <Button class="glass" text="$ Gratuity" textWrap="true" (tap)="dollarTip()" row='1' col='0'></Button>
    <Button class="glass" text="% Gratuity" textWrap="true" (tap)="pctTip()" row='1' col='1'></Button>
    <Button class="glass" text="Credit" textWrap="true" (tap)="credit()" row='2' col='0'></Button>
    <Button class="glass" text="Special Discount" textWrap="true" (tap)="specialDiscount()" row='2' col='1'></Button>
    <Button class="glass" text="$ Discount" textWrap="true" (tap)="dollarDiscount()" row='3' col='0'></Button>
    <Button class="glass" text="% Discount" textWrap="true" tap)="pctDiscount()" row='3' col='1'></Button>
    <Button class="glass" text="Comp All Item" textWrap="true" (tap)="dollarTip()" horizontalAlignment='center' row='4'
      col='0' colSpan="2"></Button>
  </GridLayout>
</GridLayout>