.choiceLayer
{
    background-color: white;
    color: silver;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: darkblue;
    height: 200px;
    margin-bottom: 5px;
}

.choiceLayerActive
{
    background-color: antiquewhite;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: gray;
    height: 200px; 
    margin-bottom: 5px;   
}

.choiceItem
{
    color: black;background-image: linear-gradient(gold, white); margin: 2px;
}

.subChoiceItem
{
    color: black;background-image: linear-gradient(cyan, white); margin: 2px;
}

.btnSubOptions
{
    color: black;background-image: linear-gradient(green, white); margin: 2px;
}

.btnCan{
	background-image:linear-gradient(red, black)
}
