<ActionBar class="action-bar">
  <Label class="action-bar-title" [text]="tableGuestsTitle"></Label>
</ActionBar>

<GridLayout style="padding: 200px" rows="*,*,*,*,*,*" columns="*,*,*">
    <Button [text]="digit" *ngFor="let digit of digits let i=index" class="glass" (tap)="setGuests(digit)" 
      [row]="digitRows[i]" [col]="digitCols[i]" ></Button>    
    <Button text="Other" class="glass" (tap)="otherNumber()" row="3" col='0' colSpan="2"></Button>
    <Button text="Done" class="glass" (tap)="router.navigate(['/home/menu'])" row="3" col="2"></Button>
</GridLayout>
