<GridLayout rows='25 * 105' columns='780 *'>
    <Label [text]='myChecksHeader' row='0' col='0' class='pageHeader'></Label>
    <Label [text]="currentDateTime | date:'EEE, MMM d yyyy h:mm:ss aa'" row='0' col='1' class='dateTime'></Label>
    <!-- checks -->
    <GridLayout row='1' col='0' rows='170 170 170 170' columns='170 170 170 170'>
        <StackLayout *ngFor='let check of checks' [row]='check.Row' [col]='check.Col'
            style='background-color: white; margin: 10; width: 160; height: 160; border-radius: 4' >
            <Label [text]='check.Name' style='font-weight: bold; font-size: 20; color: black; text-align: center'></Label>
            <Label *ngIf='closedChecks != "true"' [text]='check.ElapsedTime' 
                style='font-weight: bold; font-size: 20; color:yellow; background-color: black;padding: 3'></Label>
            <Label *ngIf='closedChecks == "true"' [text]='check.TotalOrders' 
                style='font-weight: bold; font-size: 20; color:yellow; background-color: black;padding: 3; text-align: center'></Label>    
            <Label *ngIf='check.NumberGuests > 1 && closedChecks != "true"' [text]='check.NumberGuests' 
                style='text-align: center;font-weight: bold; font-size: 40; color:red;'></Label>
            <Label [text]='check.FirstName' style='font-weight: bold; font-size: 20; color:blue;'></Label>
        </StackLayout>
    </GridLayout>
    <!-- right panel buttons -->
    <GridLayout rows='110 110 110 110 110' columns='120 110' row='1' col='1'>        
        <Button *ngFor='let item of orderTypeDetails' [text]='item.Name' class='glass btnGreenSquare' 
            (tap)='orderTypeSelected(item.OrderType)' 
            [row]='item.Row' [col]='item.Col'></Button>
        <Button text='Filter By' class='glass btnBlackSquare' (tap)='cancel()' row='0' col='1'></Button>
        <Button [text]='viewChecksText' textWrap='true' class='glass btnBlackSquare' (tap)="viewChecks()" row='1' col='1'></Button>
        <Button [text]='employeeOrderText' class='glass btnBlackSquare' textWrap='true' (tap)='orderByEmployee()' row='2' col='1'></Button>
        <Button text='Delivery Status' class='glass btnDeliveryStatus' textWrap='true' (tap)='cancel()' row='3' col='1'></Button>
        <Button text='View Delay Orders' class='btnViewDelayOrders' textWrap='true' (tap)='cancel()' row='4' col='1'></Button>
    </GridLayout>

    <!-- bottom buttons -->
    <GridLayout row='2' col='0' colSpan="2" rows="*" columns='* 270 *'>
        <FlexBoxLayout justifyContent='flex-start' row='0' col='0'>                
            <Button text='Cancel' class='glass btnCancel' (tap)='cancel()' style='margin: 10 10 5 0'></Button>
        </FlexBoxLayout>
        <StackLayout row='0' col='1'>
            <Button text='&#xf021; Start Over' class='glass btnStartOver fa' textWrap='true' (tap)='startOver()'></Button>
            <label [text]='userName' style='color: gold; text-align: center; margin-top:5'></label>
        </StackLayout>
        <FlexBoxLayout justifyContent='flex-end' row='0' col='2'>
            <Button text='Cash Out' class='glass btnCashOut' (tap)='cashOut()' style='margin: 10 10 5 0'></Button>
        </FlexBoxLayout>
    </GridLayout>
</GridLayout>