<GridLayout rows='25 * 105' columns='780 *'>
    <Label [text]='myChecksText' row='0' col='0' class='pageHeader'></Label>
    <Label [text]="currentDateTime | date:'EEE, MMM d yyyy h:mm:ss aa'" row='0' col='1' class='dateTime'></Label>
    <!-- checks -->
    <GridLayout rows='auto auto auto auto' columns='auto auto auto auto' row='1' col='0'>

    </GridLayout>
    <!-- right panel buttons -->
    <GridLayout rows='110 110 110 110 110' columns='120 110' row='1' col='1'>
        <Button text='Table' class='glass btnGreenSquare' (tap)='cancel()' row='0' col='0'></Button>
        <Button text='Filter By' class='glass btnBlackSquare' (tap)='cancel()' row='0' col='1'></Button>
        <Button text='Take Out' class='glass btnGreenSquare' (tap)='cancel()' row='1' col='0'></Button>
        <Button text='View All Checks' textWrap='true' class='glass btnBlackSquare' (tap)='cancel()' row='1' col='1'></Button>
        <Button text='Employee A > Z' class='glass btnBlackSquare' textWrap='true' (tap)='cancel()' row='2' col='1'></Button>
        <Button text='Delivery Status' class='glass btnDeliveryStatus' textWrap='true' (tap)='cancel()' row='3' col='1'></Button>
        <Button text='View Delay Orders' class='btnViewDelayOrders' textWrap='true' (tap)='cancel()' row='4' col='1'></Button>
    </GridLayout>

    <!-- bottom buttons -->
    <GridLayout row='2' col='0' colSpan="2" rows="*" columns='* 270 *'>
        <FlexBoxLayout justifyContent='flex-start' row='0' col='0'>                
            <Button text='Cancel' class='glass btnCancel' (tap)='cancel()' style='margin: 10 10 5 0'></Button>
        </FlexBoxLayout>
        <StackLayout row='0' col='1'>
            <Button text='&#xf021; Start Over' class='glass btnStartOver fa' textWrap='true' (tap)='startOver()'></Button>
            <label [text]='userName' style='color: gold; text-align: center; margin-top:5'></label>
        </StackLayout>
        <FlexBoxLayout justifyContent='flex-end' row='0' col='2'>
            <Button text='Cash Out' class='glass btnCashOut' (tap)='cashOut()' style='margin: 10 10 5 0'></Button>
        </FlexBoxLayout>
    </GridLayout>
</GridLayout>