<AbsoluteLayout [style]="areaStyle" (tap)='utilSvc.resetIdleTimer()'>
  <!--Image src="res://images/TableLayout/Area_12" stretch="aspectFill" left="0" top="0" width="100%" height="100%"></Image -->
  <Label [text]="employeeName" left="-20" top="10" width="100" [height]="20" style="color:white; font-weight: bold"></Label>

  <!-- table names -->
  <Label [text]="table.Name" [opacity]='table.Opacity' [class]="table.Class" [style]='table.Style' (tap)="onTableClick(table)"
    *ngFor="let table of tables" [left]="table.PosX" [top]="table.PosY" [width]="table.Width" [height]="table.Height"></Label>
  <!-- receipt printed -->
  <Label class="fa" text="&#xf00c;" *ngFor="let table of tables" [visibility]="table.Printed ? 'visible':'collapse'"
    [style]="'color: green;margin-left:' + (table.Width - 20).toString() + ';margin-top:-' + (table.Height-30).toString()"
    [left]="table.PosX" [top]="table.PosY" [width]="table.Width" [height]="table.Height"></Label>

  <!-- hold -->
  <Label text="H" *ngFor="let table of tables" [visibility]="table.Holds && isBlinking ? 'visible':'collapse'" 
    [style]="'color: red;margin-left:' + (table.Width - 20).toString() + ';margin-top:' + (table.Height - 30).toString()"
    [left]="table.PosX" [top]="table.PosY" [width]="table.Width" [height]="table.Height"></Label>

  <!-- elapsed times -->
  <Label [text]="table.ElapsedTime" *ngFor="let table of tables" [visibility]="showStatus && table.Class == 'table tableOccupied' ? 'visible':'collapse'"
    class="infoText" [left]="table.Width > 95 ? table.PosX:table.PosX-15" [top]="table.PosY" [width]="table.Width > 95 ? table.Width : 95"
    [height]="50"></Label>

  <!-- number of guests -->
  <Label [text]="table.Covers" *ngFor="let table of tables" [visibility]="showGuests ? 'visible':'collapse'" class="guestsInfoText"
    [left]="table.Width > 95 ? table.PosX+30:table.PosX+15" [top]="table.PosY" [width]="table.Width > 95 ? table.Width : 95"
    [height]="50"></Label>

  <!-- staff -->
  <Label [text]="table.EmployeeName" *ngFor="let table of tables" [visibility]="showStaff ? 'visible':'collapse'" class="infoText"
    [left]="table.Width > 95 ? table.PosX:table.PosX-15" [top]="table.PosY" [width]="table.Width > 95 ? table.Width : 95"
    [height]="50"></Label>

  <button class="glass btnLogout" left="0" top="690" text='Log Out' (tap)='logOut()'></button>
  <button class="glass btnInfo fa" left="120" top="690" text='&#xf0c0; Guests' text-wrap="true" (tap)='viewGuests()'
    *ngIf='showInfo'></button>
  <button class="glass btnInfo fa" left="240" top="690" text='&#xf017; Status' text-wrap="true" (tap)='viewStatus()'
    *ngIf='showInfo'></button>
  <button class="glass btnInfo fa" left="360" top="690" text='&#xf183; Staff' text-wrap="true" (tap)='viewStaff()'
    *ngIf='showInfo'></button>
  <Image src="res://images/TableLayout/ViewClosedChecks" left="140" top="690" (tap)='viewChecks(true)' *ngIf='!showInfo'></Image>
  <Image src="res://images/TableLayout/MyChecks" left="200" top="690" (tap)='viewChecks(false)' *ngIf='!showInfo'></Image>
  <Image src="res://images/TableLayout/ViewDetail" left="260" top="690" (tap)='viewCheckDetail()' *ngIf='!showInfo'></Image>
  <button class="glass btnInfo fa" left="360" top="690" text='&#xf05a; Info' (tap)='info()' *ngIf='!showInfo'></button>
  <button class="glass btnInfo fa" left="500" top="690" text='&#xf021; Start Over' (tap)='startOver()'></button>
  <button class="glass btnCircle fa" left="660" top="690" text='&#xf104;' (tap)='getArea(-1)'></button>
  <button class="glass btnInfo fa" left="725" top="690" text='&#xf279; Area' (tap)='viewAreas()'></button>
  <button class="glass btnCircle fa" left="860" top="690" text='&#xf105;' (tap)='getArea(+1)'></button>
  <StackLayout *ngIf='displayTableActions' left="850" top="0">
    <Image src='res://images/TableLayout/Open' (tap)='openTable()' height="82"></Image>
    <Image src='res://images/TableLayout/Close' (tap)='closeTable()' height="82"></Image>
    <Image src='res://images/TableLayout/AddNew' (tap)='closeTable()' height="64"></Image>
    <Image src='res://images/TableLayout/Split' (tap)='closeTable()' height="64"></Image>
    <Image src='res://images/TableLayout/Combine' (tap)='closeTable()' height="64"></Image>
    <Image src='res://images/TableLayout/Void' (tap)='closeTable()' height="64"></Image>
    <Image src='res://images/TableLayout/Transfer' (tap)='closeTable()' height="64"></Image>
    <Image src='res://images/TableLayout/PrintKitchen' (tap)='closeTable()' height="64"></Image>
    <Image src='res://images/TableLayout/PrintReceipt' (tap)='closeTable()' height="64"></Image>
  </StackLayout>

  <StackLayout *ngFor="let area of areas let i=index" (tap)='viewTables(area)' [left]="605 + (82 * i)" top="635"
    [visibility]="showAreas ? 'visible' : 'collapse'">
    <Label [text]="area.OccupiedTables" style='border-radius: 2;color:gold; border-width:2;border-color:gold;background-color: red'></Label>
  </StackLayout>
  <StackLayout *ngFor="let area of areas let i=index" (tap)='viewTables(area)' [left]="602 + (82 * i)" top="630"
    [visibility]="showAreas ? 'visible' : 'collapse'">
    <Label [text]="area.Name" class='area' textWrap="true" left="605" top="595"></Label>
  </StackLayout>

</AbsoluteLayout>

