.activeKitchenMessage
{
    color: black; background-image:linear-gradient(gold, white 40%, gold 90%);
}

.holdStatus
{
    color: red;
}

.printedStatus
{
    color: black;
}

.fireStatus
{
    color: orange;
}