<ActionBar android:title="Title">
  <ActionItem [text]="checkTitle" ios.position="left"></ActionItem>
  <ActionItem [text]="currentSubCategory" style="font-weight: bold" ios.position="right" android.position="popup"></ActionItem>
</ActionBar>
<GridLayout rows="auto, 75" columns="260,150,20,*">
  <StackLayout row="0" col="0">
    <StackLayout orientation="horizontal" style="background-color: antiquewhite;">
      <Label [text]="checkNumber" style="text-align: left; margin-right: 5;width:75;"></Label> |
      <Label [text]="server" style="text-align: left; margin-right: 5;width:140;"></Label>
      <Label [text]="table" style="text-align: left; margin-right: 5;width:30;"></Label> |
      <Label [text]="guests" style="text-align: right; width:40;"></Label>
    </StackLayout>
    <ScrollView style="background-color: white" height="550" orientation="vertical">
      <StackLayout>
        <StackLayout *ngFor="let item of order.OrderItems let i=index">
          <FlexBoxLayout (tap)="showModifyDialog(item,null,null)" (swipe)="onOrderItemSwipe($event, item)">
            <Label [text]="item.Qty" style="text-align: right; margin-right: 10;width:15;"></Label>
            <Label [text]="item.Product.Name" style="text-align: left; width:150; margin-right: 5"></Label>
            <Label [text]="item.Price | currency" style="text-align: right; width:50; margin-right:5"></Label>
            <Label [text]="item.SeatNumber" style="text-align: right; width:15;color: chocolate"></Label>
          </FlexBoxLayout>
          <StackLayout *ngIf='showDetails'>
            <StackLayout *ngFor="let choice of item.ForcedModifiers let i=index" (tap)='showModifyDialog(item,null,choice)'>
              <Label style='margin-left: 30px;' [text]='choice.Name'></Label>
            </StackLayout>
            <FlexBoxLayout *ngFor="let modifier of item.Modifiers let i=index" (tap)="showModifyDialog(item,modifier,null)"
              (swipe)="onModifierSwipe($event, item, modifier)">
              <Label class='modifier' [style]='modifier.Style' [text]='modifier.Name'></Label>
              <Label class="modifier" [style]='modifier.Style' [text]='modifier.DisplayPrice | currency'></Label>
            </FlexBoxLayout>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </ScrollView>

    <StackLayout style="background-color: rgb(46, 44, 44);color: white">
      <StackLayout class="m-b-5" orientation="horizontal">
        <Label text="Subtotal" class="check-label"></Label>
        <Label [text]="subTotal | currency" class="check-amount"></Label>
      </StackLayout>
      <StackLayout class="m-b-5" orientation="horizontal">
        <Label text="Discount" class="check-label"></Label>
        <Label [text]="discount | currency" class="check-amount"></Label>
      </StackLayout>
      <StackLayout class="m-b-5" orientation="horizontal">
        <Label text="Tax" class="check-label"></Label>
        <Label [text]="tax | currency" class="check-amount"></Label>
      </StackLayout>
      <StackLayout class="m-b-5" orientation="horizontal" *ngIf='tips > 0'>
        <Label text="Gratuity" class="check-label"></Label>
        <Label [text]="tips | currency" class="check-amount"></Label>
      </StackLayout>
      <StackLayout class="m-b-0" orientation="horizontal">
        <Label text="Total" class="check-label"></Label>
        <Label [text]="checkTotal | currency" class="check-amount"></Label>
      </StackLayout>
    </StackLayout>
  </StackLayout>
  <WrapLayout row="1" col="0" colSpan="4" style="margin-bottom:10" *ngIf='!showExtraFunctions && !showOptions'>
    <Button class="glass btnBottom btnCancel fa" text="&#xf0e2; Cancel" (tap)="cancelOrder()"></Button>
    <Button class="glass btnBottom fa" [text]="viewDetailsText" textWrap="true" (tap)="showHideDetails()"></Button>
    <Button class="glass btnBottom" (tap)="nextSeat()" textWrap="true" text="" style="background-image: url('res://images/Orders/Seat'); background-repeat: no-repeat; background-position: right 0"></Button>
    <Label class="nextSeat" [text]='currentSeatNumber'></Label>
    <Button class="glass btnBottom fa" (tap)="extraFunctions()" textWrap="true" text="&#xf0fe; Extra Functions" style="margin-left: 40"></Button>
    <Button class="glass btnBottom fa" (tap)="hold()" textWrap="true" text="&#xf256; Hold"></Button>
    <Button class="glass btnBottom fa" (tap)="send()" textWrap="true" text="&#xf14d; Send"></Button>
    <Button [class]="productInfoClass" (tap)="productInfo()" textWrap="true" text="&#xf05a; Product Info"></Button>
  </WrapLayout>
  <FlexBoxLayout row="1" col="0" justifyContent="flex-start" *ngIf='showExtraFunctions' style="margin-bottom:5">
    <Button row="1" col="0" class="glass btnBottom btnCancel" text="Close" (tap)="closeExtraFunctions()"></Button>
  </FlexBoxLayout>
  <FlexBoxLayout row="1" col="3" justifyContent="flex-end" *ngIf='showExtraFunctions' style="margin-bottom:5">
    <Button class="glass btnBottom" text="Open Product" textWrap="true" (tap)="showOpenProduct()"></Button>
    <Button class="glass btnBottom" text="Change # of Guests" (tap)="changeGuestsNumber()" textWrap="true"></Button>
    <Button class="glass btnBottom btnOK" text="Tender" (tap)="tender()" textWrap="true"></Button>
  </FlexBoxLayout>
  <StackLayout row="0" col="1" colSpan="2" *ngIf="showMainCategories">
    <Button class="glass btnCategory" [text]="item.Name" textWrap="true" *ngFor="let item of categories let i=index"
      (tap)="categorySelected(item)" [style]="categoryStyles[i]"></Button>
  </StackLayout>
  <GridLayout row="0" col="1" *ngIf="showSubCategories" rows="60,92,92,92,92,92,80,80" (swipe)="onSubCategorySwipe($event)">
    <Button class="glass" text='MAIN' textWrap="true" row='0' col='0' style='text-align: center' (tap)='displayMainCategories()'></Button>
    <Button [class]="item.Class" [text]="item.Name" *ngFor="let item of pageSubCategories let i=index" (tap)="subCategorySelected(item, i)"
      [row]='item.Row' [col]='item.Col' textWrap="true"></Button>
  </GridLayout>
  <GridLayout columns="*,*,*,*" rows="60,92,92,92,92,92,80,80" row="0" col="3" *ngIf="showSubCategories" (swipe)='onProductSwipe($event)'>
    <Label [text]='subCategoriesTitle' row='0' col='0' colSpan="4" style='text-align: center; color: red; font-size: 25; padding: 0'></Label>
    <Button class="btnProduct" [text]="item.Name" (tap)="productSelected(item)" textWrap="true" [style]='item.Style'
      *ngFor="let item of pageProducts let i=index" [col]='item.Col' [row]='item.Row'></Button>
    <Label [class]="item.QtyClass" [text]='item.QtyAvailable' [visibility]="item.CountdownActivated ? 'visible' : 'collapse'"
      *ngFor="let item of pageProducts let i=index" [col]='item.Col' [row]='item.Row'></Label>
  </GridLayout>
  <GridLayout columns="*,*,*,*" rows="60,*,70" row="0" col="3" *ngIf="showOptions">
    <FlexBoxLayout row='0' col='0' colSpan="4">
      <Button text='All' class="glass"></Button>
    </FlexBoxLayout>
    <StackLayout row='1' col='3' rowSpan="4">
      <Label text="Product Options" textWrap="true" style='text-align: center; height: 100px;color: yellow;background-color:seagreen;margin:5px;padding:5px'></Label>
      <StackLayout *ngFor="let item of fixedOptions let i=index">
        <Button [class]="item.Class" textWrap="true" [text]='item.Name' (tap)='fixedOptionSelected(item)'></Button>
      </StackLayout>
      <Button class="glass" text="DONE" (tap)="doneOption()" style='background-image:linear-gradient(green, black);text-align: center; height: 118px;border-radius: 20'></Button>
    </StackLayout>
    <GridLayout row='1' col='0' colSpan="3" rowSpan="7" rows='86,86,86,86,86,90' columns='auto,auto,auto,auto' (swipe)='onOptionSwipe($event)'>
      <Button class="glass btnMenuOption" [text]="item.Name" *ngFor="let item of pageOptions let i=index" (tap)="optionSelected(item)"
        [col]='item.Col' [row]='item.Row' textWrap="true"></Button>
      <Button row='5' col='0' class="glass btnPaging fa" *ngIf='canPageUp' (tap)="getOptionPage(false)" text="&#xf0aa; Up" ></Button>      
      <Button row='5' col='2' class="glass btnPaging fa" *ngIf='canPageDown' (tap)="getOptionPage(true)" text="&#xf0ab; Down"></Button>      
    </GridLayout>       
    <Button row='2' col='1' class="glass btnMemo" width="120" text="MEMO" (tap)="showMemoDialog()" style="margin-right: 10"></Button>
  </GridLayout>
  <WrapLayout row="1" col="0" colSpan="4" style="margin-bottom:10" *ngIf='showOptions'>
      <Button [class]="item.Class" width="120" [text]="item.ItemName" *ngFor="let item of userModifiers let i=index"
      (tap)="userModifierSelected(item)"></Button>
  </WrapLayout>  
</GridLayout>