.table-check
{
    background-color: antiquewhite;
}

.check-label
{
    width: 300px;  margin-left: 5;
}

.check-amount
{
    text-align: right;    width: 200px;      margin-right: 5;
}

.bgImage
{
background: url('https://www.nativescript.org/images/default-source/Blogs/ns-logo_share_600x315.png');
}
 
.nextSeat
{
    margin: -32 0 0 60;  color:red;font-size: 18; padding: 0; text-align: center; width: 30; height: 30;
}

.btnMenuOption
{
    background: linear-gradient(lightgray,gray);
    color: black;
    width: 105;
    height: 85;
}

.qtyAvailable
{
    margin: 65 0 0 -105;  color:darkblue;font-size: 18; padding: 0; text-align: center; width: 30; height: 30; 
}
.qtyLow
{
    margin: 65 0 0 -105;  color:red;font-size: 18; padding: 0; text-align: center; width: 30; height: 30; background-color: white; border-radius: 20;
}

.btnOptionActive
{
    background-image:linear-gradient(red, black);text-align: center; height: 118px;
}

.btnOption
{
    text-align: center;height: 118px;
}

.btnMemo
{
    color: gold; font-weight: bold; text-align: center; height: 118px; border-width: 2; border-color: bisque; border-radius: 30;
}
.btnBottom
{
	width: 100; height: 70; margin-right: 5;
}

.btnProduct {
	height: 84;
	font-size: 18;
	font-family: sans-serif;
    font-weight: bold;
	border-radius: 20px;
	border-color: #fff;
	border-style: solid;
	border-width: 2px;
	margin: 3 3 3 3;
	color: white; background-color: black;
	word-wrap: break-word;
}

.btnCategory {
	font-size: 25;
	height: 120;
	font-family: sans-serif;
    font-weight: bold;
	margin: 10 10 10 10;
	word-wrap: break-word;
}

.btnSubCategory {
	font-size: 20;
	height: 100;
	font-family: sans-serif;
    font-weight: bold;
	margin: 5 5 5 5;
	color: white; 
	border-color: gray;
	border-style: solid;
	border-width: 1;	
	border-radius: 5;
	word-wrap: break-word;
}

.btnSubCategory:active,  .btnSubCategoryActive{ 
	font-size: 20;
	height: 110;
	font-family: sans-serif;
	font-weight: bold;	
	border-radius: 10;
	border-color: #fff;
	border-style: solid;
	border-width: 2;	
	margin: 3 3 3 3;
	color: red; 
	word-wrap: break-word; 
}

.modifier
{
    margin-left: 30;
}

.lastOrderItem
{
	color: red;
}

.orderItem
{
	color: black;
}

.productOptions
{
	color: yellow;background-image: linear-gradient(black,green 10%, black 90%);
}

.productOptionsActive
{
	color: yellow;background-image: linear-gradient(gold,black 10%, gold 90%);
}

.holdOff
{
	color: yellow;background-image: linear-gradient(gold,black 10%, gold 90%);
}

.holdOn
{
	color: yellow;background-image: linear-gradient(gold,black 40%, gold 70%);
}

.btnChoice
{
	color: black;background-image: linear-gradient(lightgreen, white 20%, lightgreen 80%); margin: 2px;
	height: 84;
	font-size: 18;
	font-family: sans-serif;
    font-weight: bold;
	border-radius: 20px;
	border-color: #fff;
	border-style: solid;
	border-width: 2px;
	margin: 3 3 3 3;	
	word-wrap: break-word;
}

.btnSubOption
{
	color: black;background-image: linear-gradient(cyan, white 20%, cyan 80%); margin: 2px;
	height: 84;
	font-size: 18;
	font-family: sans-serif;
    font-weight: bold;
	border-radius: 20px;
	border-color: #fff;
	border-style: solid;
	border-width: 2px;
	margin: 3 3 3 3;
	word-wrap: break-word;
}