<ActionBar android:title="Title">
  <ActionItem [text]="checkTitle" ios.position="left"></ActionItem>
  <ActionItem [text]="currentSubCategory" style="font-weight: bold" ios.position="right" android.position="popup"></ActionItem>
</ActionBar>
<GridLayout rows="670 85" columns="300 150 20 *" *ngIf='!isGettingGuests'>
  <StackLayout row="0" col="0">
    <!-- order header -->
    <GridLayout style="background-color: antiquewhite;" rows='40'>
      <StackLayout orientation="horizontal" *ngIf='ticketNumber'>
        <Label text="Ticket #" style="text-align: center; width:75;"></Label> |
        <Label [text]="ticketNumber" style="text-align: left; margin-right: 5;width:75; color:red"></Label> |
      </StackLayout>
      <StackLayout orientation="horizontal" *ngIf='!ticketNumber'>
        <Label text="Check #" style="text-align: center; width:75;"></Label> |
        <Label [text]="checkNumber" style="text-align: left; margin-right: 5;width:75; color: red"></Label> |
      </StackLayout>
    </GridLayout>
    <GridLayout rows='40' style="background-color: antiquewhite;" columns='50 170 80' borderTopWidth='1' borderColor='gray'
      borderLeftWidth='0' borderRightWidth='0' borderBottomWidth='1'>
      <Label [text]="table" style="text-align: center; color: red" col='0' borderRightWidth='1' borderLeftWidth='0'
        borderLeftColor='antiquewhite' borderRightColor='gray' borderBottomWidth='1'></Label>|
      <Label [text]="server" style="text-align: center; color:green" col='1' borderRightWidth='1' borderLeftWidth='0'
        borderRightColor='gray' borderBottomWidth='1'></Label>
      <Label text="Guests: " style="text-align: left;" col='2'></Label>
      <Label [text]="guests" style="text-align: right;font-weight: bold; color: red" col='2'></Label>
    </GridLayout>
    <!-- order items  -->
    <ScrollView style="background-color: antiquewhite" height="480" orientation="vertical" (tap)="hideOptions()">
      <StackLayout *ngIf='isShowingDetails'>
        <StackLayout *ngFor="let item of utilSvc.orderItems" [visibility]="item.Voided == null ? 'visible' : 'collapse'"
          (tap)="showModifyDialog(item)" (swipe)="onOrderItemSwipe($event, item)" [class]="item.Class" orientation="horizontal">
          <Label [text]="item.Quantity" style="text-align: right; margin-right: 10;width:30;"></Label>
          <Label [text]="item.ProductName" style="text-align: left; width:140; margin-right: 5"></Label>
          <Label [text]="item.ExtPrice | currency" style="text-align: right; width:95; margin-right:5"></Label>
          <Label [text]="item.SeatNumber" style="text-align: right; width:15;color: chocolate"></Label>
        </StackLayout>
      </StackLayout>
      <StackLayout *ngIf='!isShowingDetails'>
        <StackLayout *ngFor="let item of utilSvc.orderItems" [visibility]="item.ItemType == 1 && item.Voided == null? 'visible' : 'collapse'"
          (tap)="showModifyDialog(item)" (swipe)="onOrderItemSwipe($event, item)" orientation="horizontal">
          <Label [text]="item.Quantity" style="text-align: right; margin-right: 10;width:30;"></Label>
          <Label [text]="item.ProductName" style="text-align: left; width:140; margin-right: 5"></Label>
          <Label [text]="item.ExtPrice | currency" style="text-align: right; width:95; margin-right:5"></Label>
          <Label [text]="item.SeatNumber" style="text-align: right; width:15;color: chocolate"></Label>
        </StackLayout>
      </StackLayout>
    </ScrollView>

    <!-- totals -->
    <GridLayout style="background-color: rgb(46, 44, 44);color: white" rows="20 20 20 20 20" cols='200 100'>
      <Label row='0' col='0' text="Subtotal" class="check-label"></Label>
      <Label row='0' col='1' [text]="subTotal | currency" class="check-amount"></Label>
      <Label row='1' col='0' text="Discount" class="check-label"></Label>
      <Label row='1' col='1' [text]="discount | currency" class="check-amount"></Label>
      <Label row='2' col='0' text="Tax" class="check-label"></Label>
      <Label row='2' col='1' [text]="tax | currency" class="check-amount"></Label>
      <Label row='3' col='0' text="Gratuity" class="check-label"></Label>
      <Label row='3' col='1' [text]="tips | currency" class="check-amount"></Label>
      <Label row='4' col='0' text="Total" class="check-label"></Label>
      <Label row='4' col='1' [text]="checkTotal | currency" class="check-amount"></Label>
    </GridLayout>
  </StackLayout>
  <!-- bottom navigation -->
  <GridLayout row="1" col="0" colSpan="4" style="margin-bottom:10" columns='110 110 110 110 110 110 110 *' *ngIf='isShowingBottomNav'>
    <Button class="glass btnBottom btnCancel fa" text="&#xf0e2; Cancel" (tap)="cancelOrder()" col='0'></Button>
    <Button class="glass btnBottom fa" [text]="viewDetailsText" textWrap="true" (tap)="showHideDetails()" col='1' *ngIf='newItemsCount > 0'></Button>
    <Button class="glass btnBottom" (tap)="nextSeat()" textWrap="true" text="" col='2' style="background-image: url('res://images/Orders/Seat'); background-repeat: no-repeat; background-position: right 2"></Button>
    <Label class="nextSeat" [text]='currentSeatNumber' col='2' style='margin-left: 74'></Label>
    <Button class="glass btnBottom fa" (tap)="extraFunctions()" col='3' textWrap="true" text="&#xf0fe; Extra Functions"
      style="margin-left: 40"></Button>
    <Button class="glass btnBottom fa" (tap)="hold()" col='5' textWrap="true" text="&#xf256; Hold" *ngIf='newItemsCount > 0'></Button>
    <Button class="glass btnBottom fa" (tap)="validateOrder(true)" col='6' textWrap="true" text="&#xf02f; Send & &#xf15c; New"
      *ngIf='newItemsCount > 0'></Button>
    <Button class="glass btnBottom fa" (tap)="validateOrder(false)" col='7' textWrap="true" text="&#xf02f; Send"
      horizontalAlignment="right" *ngIf='newItemsCount > 0 || orderModified'></Button>
  </GridLayout>
  <!-- bottom navigation for extra functions -->
  <GridLayout rows='60' row="1" col="0" colSpan="4" columns='100 400 100 100 *' *ngIf='isShowingExtraFunctions'>
    <Button class="glass btnBottom btnCancel" text="Close" (tap)="closeExtraFunctions()" col='0' horizontalAlignment="left"></Button>
    <Button class="glass btnBottom" text="Open Product" textWrap="true" (tap)="showOpenProduct()" row='0' col='2'></Button>
    <Button class="glass btnBottom" text="Change # of Guests" (tap)="changeGuestsNumber()" textWrap="true" row='0' col='3'
      style="margin-left: 20"></Button>
    <Button class="glass btnBottom btnOK" text="Tender" (tap)="tender()" textWrap="true" row='0' col='4'
      horizontalAlignment="right"></Button>
  </GridLayout>
  <!-- categories -->
  <StackLayout row="0" col="1" colSpan="2" *ngIf="isShowingMainCategories">
    <Button class="glass btnCategory" [text]="item.Name" textWrap="true" *ngFor="let item of categories let i=index"
      (tap)="categorySelected(item)" [style]="categoryStyles[i]"></Button>
  </StackLayout>
  <!-- subcategories -->
  <GridLayout row="0" col="1" rows="60 105 105 105 105 105 80" (swipe)="onSubCategorySwipe($event)" *ngIf="isShowingSubCategories">
    <Button class="glass" text='MAIN' textWrap="true" row='0' col='0' style='text-align: center' (tap)='displayMainCategories()'></Button>
    <Button [class]="item.Class" [text]="item.Name" *ngFor="let item of pageSubCategories" (tap)="subCategorySelected(item)"
      [row]='item.Row' [col]='item.Col' textWrap="true"></Button>
  </GridLayout>

  <!-- hold categories -->
  <GridLayout row="0" col="1" rows="92,92,92,92" *ngIf='showHoldCategories'>
    <Button [class]="item.Class" [text]="item.Name" *ngFor="let item of holdCategories" (tap)="holdCategorySelected(item)"
      [row]='item.Position - 1' col='0' textWrap="true"></Button>
  </GridLayout>

  <!-- products -->
  <GridLayout columns="*,*,*,*" rows="60 86 86 86 86 86 86 80" row="0" col="3" *ngIf="isShowingProducts" (swipe)='onProductSwipe($event)'>
    <Label [text]='subCategoriesTitle' row='0' col='0' colSpan="4" style='text-align: center; color: red; font-size: 25; padding: 0'></Label>
    <Button class="btnProduct" [text]="item.Name" (tap)="productSelected(item)" textWrap="true" [style]='item.Style'
      *ngFor="let item of pageProducts let i=index" [col]='item.Col' [row]='item.Row'></Button>
    <Label [class]="item.QtyClass" [text]='item.QtyAvailable' [visibility]="item.CountdownActivated ? 'visible' : 'collapse'"
      *ngFor="let item of pageProducts let i=index" [col]='item.Col' [row]='item.Row'></Label>
    <!--
      <GridLayout row='6' col='2' colSpan="2" columns='100 100'> 
      <Button col='0' class="glass btnPaging fa" *ngIf='canProductPageUp' (tap)="getProductPage(false)" text="&#xf0aa; Up" ></Button>      
      <Button col='1' class="glass btnPaging fa" *ngIf='canProductPageDown' (tap)="getProductPage(true)" text="&#xf0ab; Down"></Button>      
      </GridLayout>
    -->
    <Button [class]="productInfoClass" (tap)="productInfo()" textWrap="true" text="&#xf05a; Product Info" row='7' col='1'></Button>
    <Button class="glass" (tap)="showModifyDialog(null)" text="Options" row='7' col='2' *ngIf='isShowingOptionsButton && newItemsCount > 0'></Button>
    <Button class="fa" (tap)="showModifyDialog(null)" text="&#xf0c8;" row='7' col='2' *ngIf='isShowingOptionsButton && newItemsCount > 0'
      style='color:lightgreen; margin-left: 85; margin-top: -34'></Button>
  </GridLayout>

  <!-- Choices -->
  <GridLayout columns="* * * *" rows="60 86 86 86 86 86 86 80" row="0" col="3" *ngIf='isShowingChoices || isShowingSubOptions'
    (swipe)='onChoiceSwipe($event)'>
    <Label [text]='subCategoriesTitle' row='0' col='0' colSpan="4" style='text-align: center; color: red; font-size: 25; padding: 0'></Label>
    <Button class="btnChoice" [visibility]="isShowingSubOptions ? 'collapse' : 'visible'" [text]="item.Name" *ngFor="let item of pageChoices"
      (tap)="choiceSelected(item)" [col]='item.Col' [row]='item.Row' textWrap='true'></Button>
    <Button class="btnSubOption" [text]="item.Name" [visibility]="isShowingSubOptions ? 'visible' : 'collapse'" *ngFor="let item of subOptions"
      (tap)="subOptionSelected(item)" [col]='item.Col' [row]='item.Row' textWrap='true' height="60" width="100"></Button>
    <Button class="glass btnShowSubOptions" text="Sub Options" textWrap='true' (tap)="showSubOptions()" row="6" col="2"
      style="margin-top:20" height="60" width="100" *ngIf="isShowingSubOptionsButton"></Button>
    <Button class="glass btnOK fa" text="&#xf00c; Done" textWrap='true' (tap)="doneChoices()" row="6" col="3" style="margin-top:20"
      height="60" width="100"></Button>
  </GridLayout>

  <!-- Options -->
  <GridLayout columns="*,*,*,*" rows="60,*,70" row="0" col="3" *ngIf="isShowingOptions">
    <!-- options filters -->
    <GridLayout row='0' col='0' colSpan="4" columns='100 100 100 100' *ngIf='isShowingMainOptions'>
      <Button *ngFor='let item of pageOptionCategories' (swipe)="onOptionCategorySwipe($event)" [text]='item.Name'
        class="glass" (tap)='getOptionsForCategory(item)' [col]='item.Col' row='0'></Button>
      <!-- check mark for selected sub option -->
      <Label class="fa" text="&#xf00c;" [visibility]="item.Selected ? 'visible' : 'collapse'" *ngFor="let item of pageOptionCategories"
        [col]='item.Col' row='0' style='margin: -35 0 0 75; color: gold; font-weight: bold'></Label>
      <Button text='All' [class]="allOptionFilterClass" (tap)='getOptionsForAllCategories()' row='0' col='3'></Button>
      <Label class="fa" text="&#xf00c;" [visibility]="allOptionCategorySelected ? 'visible' : 'collapse'" col='3' row='0'
        style='margin: -40 0 0 75; color: gold; font-weight: bold'></Label>
    </GridLayout>
    <!-- fixed modifiers -->
    <StackLayout row='1' col='3' rowSpan="4">
      <button text="Product Options" textWrap="true" [class]='productOptionsClass' (tap)='isShowingProductOptions()'></button>
      <StackLayout *ngFor="let item of fixedOptions let i=index">
        <Button [class]="item.Class" textWrap="true" [text]='item.Name' (tap)='fixedOptionSelected(item)'></Button>
      </StackLayout>
      <Button class="glass" text="DONE" (tap)="doneOption()" style='background-image:linear-gradient(green, black);text-align: center; height: 118px;border-radius: 20'></Button>
    </StackLayout>
    <!-- options -->
    <GridLayout row='1' col='0' colSpan="3" rowSpan="7" rows='86 86 86 86 86 86 90' columns='auto auto auto auto'
      (swipe)='onOptionSwipe($event)'>
      <Button class="glass btnMenuOption" [text]="item.Name" *ngFor="let item of pageOptions let i=index" (tap)="optionSelected(item)"
        [col]='item.Col' [row]='item.Row' textWrap="true"></Button>
      <!--
      <Button row='5' col='0' class="glass btnPaging fa" *ngIf='canOptionPageUp' (tap)="getOptionPage(false)" text="&#xf0aa; Up" ></Button>      
      <Button row='5' col='2' class="glass btnPaging fa" *ngIf='canOptionPageDown' (tap)="getOptionPage(true)" text="&#xf0ab; Down"></Button>      
        -->
    </GridLayout>

    <Button row='2' col='1' class="glass btnMemo fa" width="120" text="&#xf249; MEMO" *ngIf='!isShowingMainOptions'
      (tap)="showMemoDialog()" style="margin-right: 10"></Button>
    <Button row='2' col='1' class="glass btnMemo fa" width="120" text="&#xf002; Find" *ngIf='isShowingMainOptions'
      (tap)="showSearchDialog()" style="margin-right: 10"></Button>
  </GridLayout>

  <!-- user-defined modifiers - bottom row -->
  <WrapLayout row="1" col="0" colSpan="4" style="margin-bottom:10" *ngIf='isShowingOptions'>
    <Button [class]="item.Class" width="120" [text]="item.ItemName" *ngFor="let item of userModifiers let i=index"
      (tap)="userModifierSelected(item)"></Button>
  </WrapLayout>
</GridLayout>

<StackLayout *ngIf='isGettingGuests && isNormalChoice'>
  <label class="dialogTitle" [text]="tableGuestsTitle"></label>
  <GridLayout style="padding-left: 670px;" rows="110 110 110 110" columns="110 110 110">
    <Button text="1" class="glass btnRound" (tap)="setGuests(1)" row="0" col="0"></Button>
    <Button text="2" class="glass btnRound" (tap)="setGuests(2)" row="0" col="1"></Button>
    <Button text="3" class="glass btnRound" (tap)="setGuests(3)" row="0" col="2"></Button>
    <Button text="4" class="glass btnRound" (tap)="setGuests(4)" row="1" col="0"></Button>
    <Button text="5" class="glass btnRound" (tap)="setGuests(5)" row="1" col="1"></Button>
    <Button text="6" class="glass btnRound" (tap)="setGuests(6)" row="1" col="2"></Button>
    <Button text="7" class="glass btnRound" (tap)="setGuests(7)" row="2" col="0"></Button>
    <Button text="8" class="glass btnRound" (tap)="setGuests(8)" row="2" col="1"></Button>
    <Button text="9" class="glass btnRound" (tap)="setGuests(9)" row="2" col="2"></Button>
    <Button text="0" class="glass btnRound" (tap)="setGuests(0)" row="3" col="1"></Button>
    <Button text="Other" class="glass" (tap)="otherQty()" row="3" col='0'></Button>
    <Button text="Cancel" class="glass btnCancel btnRound" (tap)="cancel()" row="3" col="2"></Button>
  </GridLayout>
</StackLayout>

<StackLayout *ngIf='isGettingGuests && !isNormalChoice'>
  <GridLayout rows="50" columns="200 100 200" style='margin-top: 50; margin-left:10'>
    <Button class='glass btnCancel fa' text="&#xf0e2; Cancel" (tap)='cancel()' horizontalAlignment="left" row='0' col='0'
      height="60" width="120"></Button>
    <TextField #guests horizontalAlignment="center" [text]='guestsEntered' [(ngModel)]='guestsEntered' row='0' col='1'
      maxlength='3' class='textEntryLongActive' (returnPress)="saveEnteredGuests()" (keyPress)="keyPressed($event)"
      returnKeyType='done' keyboardType="Number">
    </TextField>
    <Button class='glass btnOK' text='Accept' (tap)='saveEnteredGuests()' horizontalAlignment="right" row='0' col='2'
      height="60" width="120"></Button>
  </GridLayout>
</StackLayout>