<ActionBar android:title="Title">
  <ActionItem [text]="checkTitle" ios.position="left"></ActionItem>
  <ActionItem [text]="currentSubCategory" style="font-weight: bold" ios.position="right" android.position="popup"></ActionItem>
</ActionBar>
<GridLayout rows="670 85" columns="260 150 20 *">
  <StackLayout row="0" col="0">
    <!-- order header -->
    <GridLayout style="background-color: antiquewhite;" rows='40'>
      <StackLayout orientation="horizontal">
        <FlexBoxLayout *ngIf='ticketNumber'>
          <Label text="Ticket #" style="text-align: left; width:75;"></Label> |
          <Label [text]="ticketNumber" style="text-align: left; margin-right: 5;width:75;"></Label> |
        </FlexBoxLayout>
        <FlexBoxLayout>
          <Label text="Check #" style="text-align: left; width:75;"></Label> |
          <Label [text]="checkNumber" style="text-align: left; margin-right: 5;width:75;"></Label> |
        </FlexBoxLayout>
      </StackLayout>
    </GridLayout>
    <GridLayout rows='40' style="background-color: antiquewhite;" columns='* * *' borderTopWidth='1' borderColor='gray'
      borderLeftWidth='0' borderRightWidth='0'>      
      <Label [text]="table" style="text-align: left; width:30;" col='0' borderRightWidth='1' borderLeftWidth='0'
        borderLeftColor='antiquewhite' borderRightColor='gray'></Label>|
      <Label [text]="server" style="text-align: left; width:140;" col='1' borderRightWidth='1' borderLeftWidth='0'
        borderRightColor='gray'></Label>
      <StackLayout col='2' orientation="horizontal">
        <Label text="Guests: " style="text-align: left;"></Label>
        <Label [text]="guests"></Label>
      </StackLayout>
    </GridLayout>
    <!-- order items  -->
    <ScrollView style="background-color: white" height="500" orientation="vertical">
      <StackLayout *ngIf='showDetails'>
        <StackLayout *ngFor="let item of orderItems">
          <FlexBoxLayout (tap)="showModifyDialog(item,null,null)" (swipe)="onOrderItemSwipe($event, item)" [class]="item.Class">
            <Label [text]="item.Quantity" style="text-align: right; margin-right: 10;width:15;"></Label>
            <Label [text]="item.ProductName" style="text-align: left; width:150; margin-right: 5"></Label>
            <Label [text]="item.ExtPrice | currency" style="text-align: right; width:50; margin-right:5"></Label>
            <Label [text]="item.SeatNumber" style="text-align: right; width:15;color: chocolate"></Label>
          </FlexBoxLayout>
        </StackLayout>
      </StackLayout>
      <StackLayout *ngIf='!showDetails'>
        <StackLayout *ngFor="let item of orderItems">
          <FlexBoxLayout (tap)="showModifyDialog(item,null,null)" (swipe)="onOrderItemSwipe($event, item)" *ngIf='item.ItemType == 1'>
            <Label [text]="item.Quantity" style="text-align: right; margin-right: 10;width:15;"></Label>
            <Label [text]="item.ProductName" style="text-align: left; width:150; margin-right: 5"></Label>
            <Label [text]="item.ExtPrice | currency" style="text-align: right; width:50; margin-right:5"></Label>
            <Label [text]="item.SeatNumber" style="text-align: right; width:15;color: chocolate"></Label>
          </FlexBoxLayout>
        </StackLayout>
      </StackLayout>
    </ScrollView>
    <!-- totals -->
    <StackLayout style="background-color: rgb(46, 44, 44);color: white">
      <StackLayout class="m-b-5" orientation="horizontal">
        <Label text="Subtotal" class="check-label"></Label>
        <Label [text]="subTotal | currency" class="check-amount"></Label>
      </StackLayout>
      <StackLayout class="m-b-5" orientation="horizontal">
        <Label text="Discount" class="check-label"></Label>
        <Label [text]="discount | currency" class="check-amount"></Label>
      </StackLayout>
      <StackLayout class="m-b-5" orientation="horizontal">
        <Label text="Tax" class="check-label"></Label>
        <Label [text]="tax | currency" class="check-amount"></Label>
      </StackLayout>
      <StackLayout class="m-b-5" orientation="horizontal" *ngIf='tips > 0'>
        <Label text="Gratuity" class="check-label"></Label>
        <Label [text]="tips | currency" class="check-amount"></Label>
      </StackLayout>
      <StackLayout class="m-b-0" orientation="horizontal">
        <Label text="Total" class="check-label"></Label>
        <Label [text]="checkTotal | currency" class="check-amount"></Label>
      </StackLayout>
    </StackLayout>
  </StackLayout>
  <!-- bottom navigation -->
  <WrapLayout row="1" col="0" colSpan="4" style="margin-bottom:10" *ngIf='!showExtraFunctions && !showOptions'>
    <Button class="glass btnBottom btnCancel fa" text="&#xf0e2; Cancel" (tap)="cancelOrder()"></Button>
    <Button class="glass btnBottom fa" [text]="viewDetailsText" textWrap="true" (tap)="showHideDetails()"></Button>
    <Button class="glass btnBottom" (tap)="nextSeat()" textWrap="true" text="" style="background-image: url('res://images/Orders/Seat'); background-repeat: no-repeat; background-position: right 0"></Button>
    <Label class="nextSeat" [text]='currentSeatNumber'></Label>
    <Button class="glass btnBottom fa" (tap)="extraFunctions()" textWrap="true" text="&#xf0fe; Extra Functions" style="margin-left: 40"></Button>
    <Button class="glass btnBottom fa" (tap)="hold()" textWrap="true" text="&#xf256; Hold"></Button>
    <Button class="glass btnBottom fa" (tap)="sendCheck()" textWrap="true" text="&#xf14d; Send"></Button>
    <Button [class]="productInfoClass" (tap)="productInfo()" textWrap="true" text="&#xf05a; Product Info"></Button>
  </WrapLayout>
  <!-- bottom navigation for extra functions -->
  <GridLayout rows='60' row="1" col="0" colSpan="4" columns='100 400 100 100 *' *ngIf='showExtraFunctions'>
    <Button class="glass btnBottom btnCancel" text="Close" (tap)="closeExtraFunctions()" col='0' horizontalAlignment="left"></Button>  
    <Button class="glass btnBottom" text="Open Product" textWrap="true" (tap)="showOpenProduct()" row='0' col='2' ></Button>
    <Button class="glass btnBottom" text="Change # of Guests" (tap)="changeGuestsNumber()" textWrap="true" row='0' col='3' style="margin-left: 20" ></Button>
    <Button class="glass btnBottom btnOK" text="Tender" (tap)="tender()" textWrap="true" row='0' col='4' horizontalAlignment="right"></Button>
  </GridLayout>
  <!-- categories -->
  <StackLayout row="0" col="1" colSpan="2" *ngIf="showMainCategories">
    <Button class="glass btnCategory" [text]="item.Name" textWrap="true" *ngFor="let item of categories let i=index"
      (tap)="categorySelected(item)" [style]="categoryStyles[i]"></Button>
  </StackLayout>
  <!-- subcategories -->
  <GridLayout row="0" col="1" *ngIf="showSubCategories" rows="60,92,92,92,92,92,80" (swipe)="onSubCategorySwipe($event)">
    <Button class="glass" text='MAIN' textWrap="true" row='0' col='0' style='text-align: center' (tap)='displayMainCategories()'></Button>
    <Button [class]="item.Class" [text]="item.Name" *ngFor="let item of pageSubCategories let i=index" (tap)="subCategorySelected(item, i)"
      [row]='item.Row' [col]='item.Col' textWrap="true"></Button>
    <!--
    <GridLayout row='6' col='0' columns='80 80' colSpan="2" >
      <Button col='0' class="glass btnPaging fa" *ngIf='canSubCategoryPageUp' (tap)="getSubCategoryPage(false)" text="&#xf0aa; Up" ></Button>      
      <Button col='1' class="glass btnPaging fa" *ngIf='canSubCategoryPageDown' (tap)="getSubCategoryPage(true)" text="&#xf0ab; Down"></Button>     
    </GridLayout>    
  -->
  </GridLayout>
  <!-- products -->
  <GridLayout columns="*,*,*,*" rows="60,92,92,92,92,92,92,80" row="0" col="3" *ngIf="showSubCategories" (swipe)='onProductSwipe($event)'>
    <Label [text]='subCategoriesTitle' row='0' col='0' colSpan="4" style='text-align: center; color: red; font-size: 25; padding: 0'></Label>
    <Button class="btnProduct" [text]="item.Name" (tap)="productSelected(item)" textWrap="true" [style]='item.Style'
      *ngFor="let item of pageProducts let i=index" [col]='item.Col' [row]='item.Row'></Button>
    <Label [class]="item.QtyClass" [text]='item.QtyAvailable' [visibility]="item.CountdownActivated ? 'visible' : 'collapse'"
      *ngFor="let item of pageProducts let i=index" [col]='item.Col' [row]='item.Row'></Label>
    <!--
      <GridLayout row='6' col='2' colSpan="2" columns='100 100'> 
      <Button col='0' class="glass btnPaging fa" *ngIf='canProductPageUp' (tap)="getProductPage(false)" text="&#xf0aa; Up" ></Button>      
      <Button col='1' class="glass btnPaging fa" *ngIf='canProductPageDown' (tap)="getProductPage(true)" text="&#xf0ab; Down"></Button>      
      </GridLayout>
    -->
  </GridLayout>
  <GridLayout columns="*,*,*,*" rows="60,*,70" row="0" col="3" *ngIf="showOptions">
    <!-- options filters -->
      <GridLayout row='0' col='0' colSpan="4" columns='100 100 100 100' *ngIf='isShowingProductOptions' >
      <Button *ngFor='let item of pageOptionCategories' (swipe)="onOptionCategorySwipe($event)"
        [text]='item.Name' class="glass" (tap)='getOptionsForCategory(item)' [col]='item.Col' row='0' ></Button>
       <!-- check mark for selected sub option -->
       <Label class="fa" text="&#xf00c;" [visibility]="item.Selected ? 'visible' : 'collapse'"
        *ngFor="let item of pageOptionCategories" [col]='item.Col' row='0' 
        style='margin: -40 0 0 75; color: gold; font-weight: bold'></Label>  
      <Button text='All' [class]="allOptionFilterClass" (tap)='getOptionsForAllCategories()' row='0' col='3'></Button>           
      <Label class="fa" text="&#xf00c;" [visibility]="allOptionCategorySelected ? 'visible' : 'collapse'" col='3' row='0' 
        style='margin: -40 0 0 75; color: gold; font-weight: bold'></Label>  
      </GridLayout>
    <!-- fixed modifiers -->
    <StackLayout row='1' col='3' rowSpan="4">
      <button text="Product Options" textWrap="true" [class]='productOptionsClass' (tap)='showProductOptions()'></button>
      <StackLayout *ngFor="let item of fixedOptions let i=index">
        <Button [class]="item.Class" textWrap="true" [text]='item.Name' (tap)='fixedOptionSelected(item)'></Button>
      </StackLayout>
      <Button class="glass" text="DONE" (tap)="doneOption()" style='background-image:linear-gradient(green, black);text-align: center; height: 118px;border-radius: 20'></Button>
    </StackLayout>
    <!-- options -->
    <GridLayout row='1' col='0' colSpan="3" rowSpan="7" rows='86 86 86 86 86 86 90' columns='auto auto auto auto'
      (swipe)='onOptionSwipe($event)'>
      <Button class="glass btnMenuOption" [text]="item.Name" *ngFor="let item of pageOptions let i=index" (tap)="optionSelected(item)"
        [col]='item.Col' [row]='item.Row' textWrap="true"></Button>
      <!--
      <Button row='5' col='0' class="glass btnPaging fa" *ngIf='canOptionPageUp' (tap)="getOptionPage(false)" text="&#xf0aa; Up" ></Button>      
      <Button row='5' col='2' class="glass btnPaging fa" *ngIf='canOptionPageDown' (tap)="getOptionPage(true)" text="&#xf0ab; Down"></Button>      
        -->
    </GridLayout>
    <Button row='2' col='1' class="glass btnMemo fa" width="120" text="&#xf249; MEMO" *ngIf='!isShowingProductOptions'
      (tap)="showMemoDialog()" style="margin-right: 10"></Button>
    <Button row='2' col='1' class="glass btnMemo fa" width="120" text="&#xf002; Find" *ngIf='isShowingProductOptions'
      (tap)="showSearchDialog()" style="margin-right: 10"></Button>
  </GridLayout>
  <!-- user-defined modifiers - bottom row -->
  <WrapLayout row="1" col="0" colSpan="4" style="margin-bottom:10" *ngIf='showOptions'>
    <Button [class]="item.Class" width="120" [text]="item.ItemName" *ngFor="let item of userModifiers let i=index"
      (tap)="userModifierSelected(item)"></Button>
  </WrapLayout>
</GridLayout>