<StackLayout class='page'>
    <GridLayout rows='60 * 60' class='pageHeader' *ngIf='!isOtherReason'>
        <label text='Choose a Reason' row='0' class="title"></label>
        <GridLayout columns="* * *" rows="150 150 150 150 150" row='1'>
            <Button class='glass' [text]='reason.Reason' (tap)='setReason(reason)' [row]='reason.Row' [col]='reason.Col'
                *ngFor='let reason of reasons'></Button>
        </GridLayout>
        <FlexBoxLayout row='2'>
            <Button class='glass btnCancel fa' text="&#xf0e2; Cancel" (tap)='cancel()'></Button>
            <Button class='glass' text='Other' (tap)='showOtherReason()'></Button>
            <Button class='glass btnOK' text='Accept' (tap)='acceptReason(reason)'></Button>
        </FlexBoxLayout>
    </GridLayout>

    <StackLayout rows="120 auto" *ngIf='isOtherReason'>
        <StackLayout orientation="horizontal" row='0' colSpan="2">
                <TextField id='otherReason' hint="Enter Reason" [text]='otherReason' [(ngModel)]='otherReason' required #otherReasonModel='ngModel'
                    autocorrect="true"  >
                </TextField>
                <Label class="validation" [visibility]="otherReasonModel.valid ? 'collapse' : 'visible'" text="Reason is required"></Label>            
        </StackLayout>

        <FlexBoxLayout>
            <Button class='glass btnCancel fa' text="&#xf0e2; Cancel" (tap)='cancel()' height="60" width="120"></Button>
        </FlexBoxLayout>

        <FlexBoxLayout justifyContent="flex-end" row='1' col='1'>
            <Button class='glass btnOK' text='Accept' (tap)='acceptReason(otherReason)' height="60" width="120"></Button>
        </FlexBoxLayout>

    </StackLayout>
</StackLayout>