<StackLayout class='page' width='580' style='padding: 10'>
    <Label text='Choose Printer' row='0' style='color: white; font-weight: bold; font-size: 20; text-align: center; margin-bottom: 10' ></Label>
    <WrapLayout style='border-color: silver; border-width: 2; border-radius: 10; padding: 10' >
        <Image src='res://images/TableLayout/PrintKitchen' (tap)='printerSelected(printer)' height="100" style='margin: 5'
            *ngFor='let printer of printers'></Image>
    </WrapLayout>
    <GridLayout>
        <Button horizontalAlignment="left" class='glass btnCancel fa' text="&#xf0e2; Cancel" (tap)='close()'  width="90" height='60'></Button>
        <Label  horizontalAlignment="center" *ngIf='selectedPrinter != null' text='Chosen Printer' style='color: blue; font-weight: bold; font-size: 20; margin-top: -30' ></Label>
        <Label  horizontalAlignment="center" *ngIf='selectedPrinter != null' [text]='selectedPrinter.Name' style='color: white; font-weight: bold; font-size: 20; margin-top: 15' ></Label>
        <Button horizontalAlignment="right" *ngIf='selectedPrinter == null'  class='glass fa' text="&#xf00c;" style='color: grey;' width="80" height='60' ></Button>
        <Button horizontalAlignment="right" *ngIf='selectedPrinter != null' class='glass btnOK fa' text="&#xf00c;" style='color: green;' width="80" height='60' (tap)='accept()'></Button>
    </GridLayout>
</StackLayout>