        <AbsoluteLayout [style]="areaStyle">                                                                                              
          <Label [text]="table.Name" [left]="table.PosX" [top]="table.PosY" [width]="table.Width" [height]="table.Height" 
            class='table' [style]="tableStyles[i]"
            *ngFor="let table of tables let i=index"
            (tap)="onTableClick(table)"
            ></Label>
          <button class="glass" left="0" top="650" text='Log Out' (tap)='logOut()'></button>          
          <button class="glass" left="300" top="650" text='Start Over' (tap)='startOver()'></button>     
          <StackLayout  *ngIf='displayTableActions' left="850" top="0" >
            <button class="glass actionButton" text='Open Table' textWrap="true" (tap)='openTable()' style="background-image: url('res://seat')"></button>
            <button class="glass actionButton" text='Close' textWrap="true" (tap)='openTable()' style="background-image: url('res://seat')"></button>
            <button class="glass actionButton" text='Add Check' textWrap="true" (tap)='openTable()' style="background-image: url('res://seat')"></button>
            <button class="glass actionButton" text='Split' (tap)='openTable()' style="background-image: url('res://seat')"></button>
            <button class="glass actionButton" text='Combine' (tap)='openTable()' style="background-image: url('res://seat')"></button>
            <button class="glass actionButton" text='Void' (tap)='openTable()' style="background-image: url('res://seat')"></button>
            <button class="glass actionButton" text='Transfer' (tap)='openTable()' style="background-image: url('res://seat')"></button>
            <button class="glass actionButton" text='Kitchen' textWrap="true" (tap)='openTable()' style="background-image: url('res://seat')"></button>
            <button class="glass actionButton" text='Receipt' textWrap="true" (tap)='openTable()' style="background-image: url('res://seat');"></button>
          </StackLayout>
        </AbsoluteLayout>
      