<ActionBar android:title="Title">
  <ActionItem [text]="checkTitle" ios.position="left"></ActionItem>
  <ActionItem [text]="currentSubCategory" style="font-weight: bold" ios.position="right" android.position="popup"></ActionItem>  
  <NavigationButton icon="res://ic_arrow_back_black_24dp" (tap)="goBack()"></NavigationButton>
</ActionBar>
<GridLayout rows="*, 50" columns="*,*,*,*,*,*,*" style="font-weight: bold">
  <StackLayout row="0" col="0" colSpan="2" [style]='pageStyle'>
    <StackLayout orientation="horizontal" style="background-color: antiquewhite;">
      <Label [text]="checkNumber" style="text-align: left; margin-right: 5;width:75;"></Label> |
      <Label [text]="server" style="text-align: left; margin-right: 5;width:140;"></Label>
      <Label [text]="table" style="text-align: left; margin-right: 5;width:30;"></Label> |
      <Label [text]="guests" style="text-align: right; width:40;"></Label>
    </StackLayout>
    <ListView [items]="checkItems" separatorColor="white" class="m-0" height="505">
      <ng-template let-item="item" let-i="index">
        <StackLayout class="m-b-10">
          <StackLayout orientation="horizontal" (tap)="showModifyDialog(item,i)" (swipe)="onSwipe($event, i)">
            <Label [text]="item.Qty" style="text-align: right; margin-right: 10;width:15;"></Label>
            <Label [text]="item.Product.Name" style="text-align: left; width:150; margin-right: 5"></Label>
            <Label [text]="item.Price | currency" style="text-align: right; width:50; margin-right:5"></Label>
            <Label [text]="item.SeatNumber" style="text-align: right; width:15;"></Label>
          </StackLayout>
          <StackLayout *ngFor="let choice of item.ForcedModifiers let j=index">
            <Label style='margin-left: 30px;' [text]='choice.Name' (tap)='changeChoice(item, i, choice)'></Label>
          </StackLayout>
        </StackLayout>
      </ng-template>
    </ListView>
    <StackLayout style="background-color: rgb(46, 44, 44);color: white">
      <StackLayout class="m-b-5" orientation="horizontal">
        <Label text="Subtotal" class="check-label"></Label>
        <Label [text]="subTotal | currency" class="check-amount"></Label>
      </StackLayout>
      <StackLayout class="m-b-5" orientation="horizontal">
        <Label text="Discount" class="check-label"></Label>
        <Label [text]="discount | currency" class="check-amount"></Label>
      </StackLayout>
      <StackLayout class="m-b-5" orientation="horizontal">
        <Label text="Tax" class="check-label"></Label>
        <Label [text]="tax | currency" class="check-amount"></Label>
      </StackLayout>
      <StackLayout class="m-b-5" orientation="horizontal" *ngIf='tips > 0'>
        <Label text="Gratuity" class="check-label"></Label>
        <Label [text]="tips | currency" class="check-amount"></Label>
      </StackLayout>
      <StackLayout class="m-b-0" orientation="horizontal">
        <Label text="Total" class="check-label"></Label>
        <Label [text]="checkTotal | currency" class="check-amount"></Label>
      </StackLayout>
    </StackLayout>
  </StackLayout>
  <GridLayout row="1" col="0" colSpan="7" columns="*,*,*,*,*,*,*,*,*,*,*,*" orientation="horizontal">
    <Button row="0" col="0" colSpan="2" class="glass" text="Cancel" tap="cancel()"></Button>
    <Button row="0" col="2" colSpan="2" class="glass" tap="nextSeat()" textWrap="true" text="Next Seat" style="width:100;height:120;"></Button>
    <Button row="0" col="4" colSpan="2" class="glass" tap="extraFunction()" textWrap="true" text="Extra Function" style="width:100;height:120;"></Button>
    <Button row="0" col="8" colSpan="2" class="glass" tap="hold()" textWrap="true" text="Hold" style="width:100;height:120;"></Button>
    <Button row="0" col="10" colSpan="2" class="glass" tap="send()" textWrap="true" text="Send" style="width:100;height:120;"></Button>
    <Button row="0" col="6" colSpan="2" class="glass" tap="productInfo()" textWrap="true" text="Product Info" style="width:100;height:120;"></Button>
  </GridLayout>
  <StackLayout row="0" col="2" colSpan="2" *ngIf="showMainCategories">    
    <Button class="glass" [text]="item.Name" *ngFor="let item of categories let i=index" (tap)="categorySelected(item)"
      [style]="categoryStyles[i]"></Button>
  </StackLayout>
  <GridLayout row="0" col="2" *ngIf="showSubCategories" rows="60,*,*,*,*,*,*,*,*">
    <Button class="glass" text='MAIN CATEGORIES' textWrap="true" row='0' col='0' style='text-align: center' (tap)='displayMainCategories()'></Button> 
    <Button class="glass" [text]="item.Name" *ngFor="let item of subCategories let i=index" (tap)="subCategorySelected(item)"
      [style]="subCategoryStyles[i]" [row]='subCategoryRows[i]' textWrap="true"></Button>
  </GridLayout>  
    <GridLayout columns="*,*,*,*" rows="60,*,*,*,*,*,*,*" col="3" colSpan="4" *ngIf="showSubCategories">      
        <Label [text]='subCategoriesTitle' row='0' col='0' colSpan="4" style='text-align: center; color: red; font-size: 25; padding: 0'></Label> 
        <Button class="glass" [text]="item.Name" *ngFor="let item of products let i=index" (tap)="productSelected(item, i)"
          [style]="productStyles[i]" [col]='productCols[i]' [row]='productRows[i]' textWrap="true"></Button>      
    </GridLayout>  
    <GridLayout columns="*,*,*,*" rows="60,*,*,*,*,*,*,*" col="4" colSpan="4" *ngIf="showOptions">      
      <FlexBoxLayout row='0' col='0' colSpan="4">
        <Button text='All' class="glass"></Button>
      </FlexBoxLayout>      
        <StackLayout row='1' col='3' rowSpan="7">
            <Label text="Product Options" textWrap="true" style='text-align: center; height: 100px;color: yellow;background-color:seagreen;margin:5px;padding:5px'></Label>
            <Button class="glass" textWrap="true" [text]='item' 
            *ngFor="let item of fixedOptions let i=index" 
            style='background-image:url("res://images/check"); background-repeat: no-repeat; background-image:linear-gradient(#000, silver);text-align: center; height: 123px;' (tap)='fixedOptionSelected[item]'></Button> 
        </StackLayout>       
        <Button class="glass" [text]="item.Name" *ngFor="let item of menuOptions let i=index" (tap)="optionSelected(item)"
          style="border-radius: 5px;color: #000000;background-image: linear-gradient(#ffffff, silver);" 
          [col]='optionCols[i]' [row]='optionRows[i]'  textWrap="true"></Button>      
    </GridLayout>  
</GridLayout>