<ActionBar android:title="Title">
  <ActionItem [text]="checkTitle" ios.position="left"></ActionItem>
  <ActionItem [text]="currentSubCategory" style="font-weight: bold" ios.position="right" android.position="popup"></ActionItem>
  <NavigationButton icon="res://ic_arrow_back_black_24dp" (tap)="goBack()"></NavigationButton>
</ActionBar>
<GridLayout rows="auto, 70" columns="*,*,*,*,*,*,*" style="font-weight: bold">
  <StackLayout row="0" col="0" colSpan="2" [style]='pageStyle'>
    <StackLayout orientation="horizontal" style="background-color: antiquewhite;">
      <Label [text]="checkNumber" style="text-align: left; margin-right: 5;width:75;"></Label> |
      <Label [text]="server" style="text-align: left; margin-right: 5;width:140;"></Label>
      <Label [text]="table" style="text-align: left; margin-right: 5;width:30;"></Label> |
      <Label [text]="guests" style="text-align: right; width:40;"></Label>
    </StackLayout>
    <ListView [items]="checkItems" separatorColor="white" class="m-0" height="505">
      <ng-template let-item="item" let-i="index">
        <StackLayout class="m-b-10">
          <StackLayout orientation="horizontal" (tap)="showModifyDialog(item,i)" (swipe)="onCheckItemSwipe($event, i)">
            <Label [text]="item.Qty" style="text-align: right; margin-right: 10;width:15;"></Label>
            <Label [text]="item.Product.Name" style="text-align: left; width:150; margin-right: 5"></Label>
            <Label [text]="item.Price | currency" style="text-align: right; width:50; margin-right:5"></Label>
            <Label [text]="item.SeatNumber" style="text-align: right; width:15;"></Label>
          </StackLayout>
          <StackLayout *ngIf='showDetails'>
            <StackLayout *ngFor="let choice of item.ForcedModifiers let i=index">
              <Label style='margin-left: 30px;' [text]='choice.Name' (tap)='changeChoice(item, i, choice)'></Label>
            </StackLayout>
            <StackLayout *ngFor="let option of item.Modifiers let i=index">
              <Label style='margin-left: 30px;' [text]='option.Name' (tap)='changeModifier(item, i, option)'></Label>
            </StackLayout>
          </StackLayout>
        </StackLayout>
      </ng-template>
    </ListView>
    <StackLayout style="background-color: rgb(46, 44, 44);color: white">
      <StackLayout class="m-b-5" orientation="horizontal">
        <Label text="Subtotal" class="check-label"></Label>
        <Label [text]="subTotal | currency" class="check-amount"></Label>
      </StackLayout>
      <StackLayout class="m-b-5" orientation="horizontal">
        <Label text="Discount" class="check-label"></Label>
        <Label [text]="discount | currency" class="check-amount"></Label>
      </StackLayout>
      <StackLayout class="m-b-5" orientation="horizontal">
        <Label text="Tax" class="check-label"></Label>
        <Label [text]="tax | currency" class="check-amount"></Label>
      </StackLayout>
      <StackLayout class="m-b-5" orientation="horizontal" *ngIf='tips > 0'>
        <Label text="Gratuity" class="check-label"></Label>
        <Label [text]="tips | currency" class="check-amount"></Label>
      </StackLayout>
      <StackLayout class="m-b-0" orientation="horizontal">
        <Label text="Total" class="check-label"></Label>
        <Label [text]="checkTotal | currency" class="check-amount"></Label>
      </StackLayout>
    </StackLayout>
  </StackLayout>
  <WrapLayout row="1" col="0" colSpan="8" style="margin-bottom:10" *ngIf='!showExtraFunctions'>
    <Button *ngIf='this.checkItems.length > 0' class="glass btnBottom btnCancel" text="Cancel" (tap)="cancelOrder()"></Button>
    <Button class="glass btnBottom" [text]="viewDetailsText" textWrap="true" (tap)="showHideDetails()"></Button>
    <Button class="glass btnBottom" (tap)="nextSeat()" textWrap="true" text="" style="background-image: url('res://images/Orders/Seat'); background-repeat: no-repeat; background-position: right 0"></Button>
    <Label class="nextSeat" [text]='currentSeatNumber'></Label>
    <Button class="glass btnBottom" (tap)="extraFunctions()" textWrap="true" text="Extra Functions" style="margin-left: 40"></Button>
    <Button class="glass btnBottom" (tap)="hold()" textWrap="true" text="Hold"></Button>
    <Button class="glass btnBottom" (tap)="send()" textWrap="true" text="Send"></Button>
    <Button [class]="productInfoClass" (tap)="productInfo()" textWrap="true" text="Product Info"></Button>
  </WrapLayout>
  <Button row="1" col="0" class="glass btnBottom btnCancel" text="Close" (tap)="closeExtraFunctions()" *ngIf='showExtraFunctions'></Button>
  <FlexBoxLayout row="1" col="3" colSpan="5" justifyContent="flex-end" *ngIf='showExtraFunctions'>      
      <Button class="glass btnBottom" text="Open Product" textWrap="true" (tap)="showOpenProduct()"></Button>
      <Button class="glass btnBottom" text="Change # of Guests" (tap)="changeGuestsNumber()" textWrap="true"></Button>
      <Button class="glass btnBottom btnOK" text="Tender" (tap)="tender()" textWrap="true"></Button>
  </FlexBoxLayout>
  <StackLayout row="0" col="2" colSpan="2" *ngIf="showMainCategories">
    <Button class="glass" [text]="item.Name" *ngFor="let item of categories let i=index" (tap)="categorySelected(item)"
      [style]="categoryStyles[i]"></Button>
  </StackLayout>
  <GridLayout row="0" col="2" *ngIf="showSubCategories" rows="60,*,*,*,*,*,*,*,*">
    <Button class="glass" text='MAIN' textWrap="true" row='0' col='0' style='text-align: center' (tap)='displayMainCategories()'></Button>
    <Button class="btnSubCategory" [text]="item.Name" *ngFor="let item of pageSubCategories let i=index" 
      (swipe)="onSubCategorySwipe($event)"
      (tap)="subCategorySelected(item)"
      [row]='subCategoryRows[i]' textWrap="true" ></Button>
  </GridLayout>
  <GridLayout columns="*,*,*,*" rows="60,*,*,*,*,*,*,*" col="3" colSpan="4" *ngIf="showSubCategories">
    <Label [text]='subCategoriesTitle' row='0' col='0' colSpan="4" style='text-align: center; color: red; font-size: 25; padding: 0'></Label>
    <Button class="btnProduct" [text]="item.Name" *ngFor="let item of pageProducts let i=index" (tap)="productSelected(item, i)" (swipe)='onProductSwipe'
      [col]='productCols[i]' [row]='productRows[i]' textWrap="true" [style]='productStyles[i]'></Button>
  </GridLayout>
  <GridLayout columns="*,*,*,*" rows="60,*,*,*,*,*,*,*" col="4" colSpan="4" *ngIf="showOptions">
    <FlexBoxLayout row='0' col='0' colSpan="4">
      <Button text='All' class="glass"></Button>
    </FlexBoxLayout>
    <StackLayout row='1' col='3' rowSpan="7">
      <Label text="Product Options" textWrap="true" style='text-align: center; height: 100px;color: yellow;background-color:seagreen;margin:5px;padding:5px'></Label>
      <StackLayout *ngFor="let item of fixedOptions let i=index">
        <Button class="glass" textWrap="true" [text]='item' [style]='fixedOptionStyles[i]' (tap)='fixedOptionSelected(item,i)'></Button>
      </StackLayout>
      <Button class="glass" text="DONE" (tap)="doneOption()" style='background-image:linear-gradient(green, black);text-align: center; height: 118px;border-radius: 20'></Button>
    </StackLayout>
    <Button class="btnMenuProduct" [text]="item.Name" *ngFor="let item of menuOptions let i=index" (tap)="optionSelected(item)"
      [col]='optionCols[i]' [row]='optionRows[i]' textWrap="true"></Button>
  </GridLayout>
</GridLayout>